
<div >
  
  <form>
  

    <div class="container">
      <label ><b>Username</b></label>
      <input type="text" placeholder="Enter Username"  name="uname" [(ngModel)] ='username' required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="pwd" [(ngModel)] = 'password' required>
        
      <button type="button" (click) = "checkUser()">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    
  </form>
</div>