/* You can add global styles to this file, and also import other style files */
body{
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f2f2f2;
}

#container{
    height: 100%;
    display: grid;
    grid-template-columns: 70px auto;

    #content{
        padding: 30px 50px;

        ul{
            margin: 0;
            padding: 0;
            list-style-type:none;

            li{
                background: #fff;
                border-radius: 8px;
                padding: 20px;
                margin-bottom: 8px;

                a{
                    font-size: 1.5em;
                    color: #00A8FF;
                    text-decoration: none;
                    font-weight: bold;
                }

                ul{
                    margin-top: 20px;

                    li{
                        margin:0;
                        padding: 0;

                        a{
                            font-size: 1em;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}